.container {
    padding-left: 84px;
    padding-right: 84px;
    padding-top : 42px;
    max-width: 1440px;
    margin: 0 auto;
}

.mainBody{
    display: flex;
    margin-top: 68px;
}

.eventDetails{
    width: 66%;
    min-height: 85vh;
    max-height: 85vh;
    overflow-y: auto;
    margin-right: 56px;
}

.calendar{
    width: 33%;
    min-height: 85vh;
    max-height: 85vh;
    /* max-width: 400px; */
}

.react-calendar__month-view__days__day--weekend {
    color : black !important;
}
