.container{
    display: flex;
    background-color: white;
    align-items: center;
}

.searchWrapper{
    border-radius : 20px ;
    border: 1px solid #EAEAEA;
    display: flex;
    width: 240px;
}

.buttonsWrapper{
    display: flex;
}

.input{
    text-decoration: none;
}

.button{
    border-radius: 24px;
    background-color: #F2F2F2;
    padding: 5px 12px;
    cursor: pointer;
    margin-right: 8px;
    text-align: center;
    display: flex;
    align-items: center;
}

.buttonActive{
    border-radius: 24px;
    background-color: white;
    padding: 5px 12px;
    cursor: pointer;
    margin-right: 8px;
    border: 1px solid #EAEAEA
}

.menuItem {
    display: flex;
    width: 100%;
    min-width: 175px;
    align-items: center;
}
.modifiedItem:hover {
    background-color: white !important;
    cursor: auto !important;
  }

.saveButton{
    background-color: black;
    border-radius: 22px;
    color: white;
    padding: 0 8px;
    cursor: pointer;
}

.menuItem > div{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;  
    color: #666666;
}
/* #root > div > div > div > div.header_searchWrapper__2uwWW > input{
    text-decoration: none !important;
    border: none !important;
}

.ant-input{
    border: none !important;
} */