
/* .react-calendar__month-view__days__day--weekend {
    color : black !important;
} */


.highlight {
    border-radius: 100% !important;
    border: 1px solid #BFBFBF !important;
    height: 35px !important;
    width: 35px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: black !important;
    border-color: black !important;
  }

/* .normal {
    height: 35px !important;
    width: 35px !important;
    background-color: red !important;
    border-radius: 100% !important;
    border: 1px solid #BFBFBF !important;
    display: block !important;
} */