
/* .react-calendar__month-view__days__day--weekend {
    color : black !important;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.highlight {
    border-radius: 100% !important;
    border: 1px solid #BFBFBF !important;
    height: 35px !important;
    width: 35px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: black !important;
    border-color: black !important;
  }

 body{
    font-family: 'Inter', sans-serif !important; 
} 
/* .normal {
    height: 35px !important;
    width: 35px !important;
    background-color: red !important;
    border-radius: 100% !important;
    border: 1px solid #BFBFBF !important;
    display: block !important;
} */